<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.myapplication">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <uses-permission android:name="android.permission.WRITE EXTERNAL STORAGE"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Kanban"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".DetailActivity">
        </activity>
        <activity android:name=".TabActivity">
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCLoOSY9o5vwDc_jDI1MFj-tM5LR4OMTtg"/>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.example.myapplication.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity
                android:name=".MainActivity"
                android:label="Kanban">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".AccountActivity"
                android:label="@string/account"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.StatusBarOnly">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.myapplication.MainActivity"/>
        </activity>
        <activity
                android:name=".CreateDetailActivity"
                android:label="CreateDetail"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.StatusBarOnly">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.myapplication.MainActivity"/>
        </activity>
    </application>

</manifest>